@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #FDF6EA !important;
}

.navbar-brand {
  font-size: 3rem;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.sticky-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  background-image: asset-url('jumbo-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-body {
  flex-grow: 1;
}

.sticky-footer {
  flex-shrink: 0;
}

html, body {
  height: 100%
}